.stateNormal {
  border: 1px solid @igGray5;
  background-color: @igGray3;
  color: @text-color;
}
.stateHover {
  border: 1px solid @igGray7;
  background-color: @igGray6;
  color: @text-color;
}

.stateActive {
  border: 1px solid @accent2;
  background-color: @accent1;
  color: @text-color;
}

.stateFocused {
  border: 1px solid @accent2;
  background-color: @igGray3;
  color: @text-color;
}

.stateDisabled {
  opacity: 0.40;
  cursor: default !important;
}

.chartPalette1 {
  border-color: @chartPalette-border-1!important;
  background-color: @chartPalette-BG-1!important;
}

.chartPalette2 {
  border-color: @chartPalette-border-2!important;
  background-color: @chartPalette-BG-2!important;
}

.chartPalette3 {
  border-color: @chartPalette-border-3!important;
  background-color: @chartPalette-BG-3!important;
}

.chartPalette4 {
  border-color: @chartPalette-border-4!important;
  background-color: @chartPalette-BG-4!important;
}

.chartPalette5 {
  border-color: @chartPalette-border-5!important;
  background-color: @chartPalette-BG-5!important;
}

.chartPalette6 {
  border-color: @chartPalette-border-6!important;
  background-color: @chartPalette-BG-6!important;
}

.chartPalette7 {
  border-color: @chartPalette-border-7!important;
  background-color: @chartPalette-BG-7!important;
}

.chartPalette8 {
  border-color: @chartPalette-border-8!important;
  background-color: @chartPalette-BG-8!important;
}

.chartPalette9 {
  border-color: @chartPalette-border-9!important;
  background-color: @chartPalette-BG-9!important;
}

.chartPalette10 {
  border-color: @chartPalette-border-10!important;
  background-color: @chartPalette-BG-10!important;
}

.chartPalette11 {
  border-color: @chartPalette-border-11!important;
  background-color: @chartPalette-BG-11!important;
}

.chartPalette12 {
  border-color: @chartPalette-border-12!important;
  background-color: @chartPalette-BG-12!important;
}

.chartPaletteNegative {
  background-color: @chartPaletteNegative!important;
  border: 1px solid @chartPaletteNegative-border!important;
}



// Chart Marker Palettes

.chartMarkerPalette1 {
  background-color: #fff!important;
  border: 1px solid @chartPalette-border-1!important;
}

.chartMarkerPalette2 {
  background-color: #fff!important;
  border: 1px solid @chartPalette-border-2!important;
}

.chartMarkerPalette3 {
  background-color: #fff!important;
  border: 1px solid @chartPalette-border-4!important;
}

.chartMarkerPalette4 {
  background-color: #fff!important;
  border: 1px solid @chartPalette-border-4!important;
}

.chartMarkerPalette5 {
  background-color: #fff!important;
  border: 1px solid @chartPalette-border-5!important;
}

.chartMarkerPalette6 {
  background-color: #fff!important;
  border: 1px solid @chartPalette-border-6!important;
}

.chartMarkerPalette7 {
  background-color: #fff!important;
  border: 1px solid @chartPalette-border-7!important;
}

.chartMarkerPalette8 {
  background-color: #fff!important;
  border: 1px solid @chartPalette-border-8!important;
}

.chartMarkerPalette9 {
  background-color: #fff!important;
  border: 1px solid @chartPalette-border-9!important;
}

.chartMarkerPalette10 {
  background-color: #fff!important;
  border: 1px solid @chartPalette-border-10!important;
}

.chartMarkerPalette11 {
  background-color: #fff!important;
  border: 1px solid @chartPalette-border-11!important;
}

.chartMarkerPalette12 {
  background-color: #fff!important;
  border: 1px solid @chartPalette-border-12!important;
}

.chartPaletteNegative {
  background-color: @chartPaletteNegative!important;
  border: 1px solid darken(@chartPaletteNegative,15%)!important;
}

// Doughnut Palettes

.doughnutPalette1 {
  background-color: @chartPalette-BG-1!important;
  border: 1px solid #fff!important;
}

.doughnutPalette2 {
  background-color: @chartPalette-BG-2!important;
  border: 1px solid #fff!important;
}

.doughnutPalette3 {
  background-color: @chartPalette-BG-3!important;
  border: 1px solid #fff!important;
}

.doughnutPalette4 {
  background-color: @chartPalette-BG-4!important;
  border: 1px solid #fff!important;
}

.doughnutPalette5 {
  background-color: @chartPalette-BG-5!important;
  border: 1px solid #fff!important;
}

.doughnutPalette6 {
  background-color: @chartPalette-BG-6!important;
  border: 1px solid #fff!important;
}

.doughnutPalette7 {
  background-color: @chartPalette-BG-7!important;
  border: 1px solid #fff!important;
}

.doughnutPalette8 {
  background-color: @chartPalette-BG-8!important;
  border: 1px solid #fff!important;
}

.doughnutPalette9 {
  background-color: @chartPalette-BG-9!important;
  border: 1px solid #fff!important;
}

.doughnutPalette10 {
  background-color: @chartPalette-BG-10!important;
  border: 1px solid #fff!important;
}

.doughnutPalette11 {
  background-color: @chartPalette-BG-11!important;
  border: 1px solid #fff!important;
}

.doughnutPalette12 {
  background-color: @chartPalette-BG-12!important;
  border: 1px solid #fff!important;
}


// Shadows

.boxShadow {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25)!important;
}
.boxShadow2 {
  box-shadow: 0 0 2px rgba(0,0,0,0.6);
}