/************/
/* igDialog */
/************/

.ui-igdialog-footer {
  background: #a1a1a1 url(images/gradient_3.png) 0px 0px repeat-x;
  color: #333333;
  font-weight: normal !important;
  padding: 0.4em 1em!important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border-color: #979797;
}