//* VARIABLES */
//*************/

//* VARIABLES */
//*************/

@accent1: #4897AA;
@accent2: #9ECBD6;
@accent3: #fd472b;

// * Radius */
@radius: 6px;
/* Palettes */


// * grays */

@igGray1: #FFFFFF;
@igGray2: #f8f8f8;
@igGray3: #ececec;
@igGray4: #ebebeb;
@igGray5: #D9D9D9;
@igGray6: #cccccc;
@igGray7: #999999;
@igGray8: #787878;
@igGray9: #303030;
@igGray10: #000000;

/*
    Spreadsheet
  =================
*/

@bar-background: #4f4f4f url(images/gradient_1.png) repeat-x;
@row-col-bar-border: #cccccc;

@tab-bar-border: #999;

@spreadsheet-accent: #4897AA;
@spreadsheet-icon:#666;

@spreadsheet-cell-selection: #4897AA;
@spreadsheet-cell-selection-rgba: rgba(72,151,170, .22);

@spreadsheet-text-color:#111;
@spreadsheet-wight-text: #fff;

@spreadsheet-empty-bg: #fff;

@spreadsheet-disabled: #c4c4c4;

@spreadsheet-danger: @accent3;

@spreadsheet-menu-item-bg-hover: @spreadsheet-cell-selection-rgba;

@spreadsheet-formula-btn-bg: @igGray6;

@spreadsheet-tab-text-color: #666;

@spreadsheet-formula-btn-color: #111;