/***********************/
/* TreeGrid            */
/***********************/
/*TreeGrid Paging Context Row*/

.ui-igtreegrid-contextrow {
  background-color: @igGray1;
  color: @igGray7;
}

.ui-igtreegrid-contextrow td {
  border-bottom: solid 1px @igGray3;
}

.ui-igtreegrid-contextrow-icon.ui-icon.ui-icon-bookmark {
  background-image: @iggrid-icons-dark;
  background-position: -464px 0;
}

