.api-container
{
    margin: 1em 0 0 0;    
}

.api-ui
{ 
    width: 98%;
    border: 1px solid #E8E8E8;
}

.api-viewer
{  
    display:none;
    height:160px;
    overflow-y:scroll;
    background-color: #F2F2F2;  
}

.api-viewer-header
{
    font-family: 'Open Sans',sans-serif;
    font-weight:600;
    text-align:center;
    padding: 0;
    background-color: #ddd;
    border: 1px solid #ddd;
    color: #666;    
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;    
    border-bottom-style: none;
}

.api-row
{
    padding: 2px 0 2px 10px;
    background-color: rgb(194, 232, 248);
    border-color: #E8E8E8;
    border-width:thin;
    border-bottom-style:solid;
    display:none;
}

.api-explorer
{
    display:none;
    padding:5px 0 10px 0;
}

.api-explorer button
{
    display: inline;
    width: 180px;
    margin: 5px 0 0 10px;  
}

.api-explorer span
{
    display:inline-block;   
    margin: 0 0 0 15px;
}

.api-explorer .ui-igedit span,
.api-explorer button span
{
    margin: 0 0 0 0;
}

.api-count
{
    background-color: rgb(194, 232, 248);   
    padding:0 5px 0 5px;
    margin:0 0 0 5px;
    border-radius: 15px;
}

    
