.ui-financialchart-container {
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 12px;
    border-width: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ui-financialchart-mainChart {
	margin-left: 15px;
}
.ui-financialchart-volumeChart {
	margin-left: 15px;
}
.financialChartToolbar {
	display: grid;
}
.financialChartRangeSelector {
	text-align: center;
	grid-column: 1;
}
.financialChartRangeSelector input {
	display: none;
}
.financialChartRangeSelector label {
	border-right: 1px solid #758696;
	padding: 0 10px;
}
.financialChartRangeSelector label:last-child {
	border: none;
	padding-right: 0;
}
.financialChartRangeSelector label:hover {
	color: #0090ff;
	cursor: pointer;
}
.financialChartRangeSelector input:checked + span
{
	color: #0090ff;
}
.financialChartTypePicker {
	grid-column: 2;
}
