.ui-igdialog {
    padding: 0.1em;
    overflow: hidden;
}

.ui-igdialog .ui-igdialog-content,
.ui-igdialog-content {
    position: relative;
    box-sizing: border-box;
    padding: 0.5em 1em 1em;
    border: 0;
    background: none;
    overflow: auto;
    zoom: 1;
}

.ui-igdialog .ui-igdialog-content-iframe, .ui-igdialog-content-iframe {
    padding: 0;
}

.ui-igdialog .ui-igdialog-header {
    padding: 0.4em 1em;
    white-space: nowrap;
    cursor: default;
    line-height: 1.2em;
}

.ui-igdialog .ui-igdialog-headertext {
    font-weight: bold;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 !important; /* Bug 211422, 06.01.2016 S.D., Close button vertical align fix line-height:1.4em;*/
    line-height: 1.8em;
}

.ui-igdialog-headertext-minimized {
    width: 2em;
}

.ui-igdialog-headerimage {
    float: left;
    margin-top: .3em;
    margin-right: .2em;
}

.ui-igdialog-headerbutton {
    /* Bug 211422, 21.12.2015 S.D., Close button vertical align fix 
    margin:-10px 0 0 0.3em;
    top:0.6em;
    */
    margin-left: .5em;
    cursor: pointer;
    width: 1.6em;
    height: 1.6em;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ui-igdialog-minimize-icon {
    margin-top: .3em;
}

.ui-igdialog-footer {
    white-space: nowrap;
    cursor: default;
    font-weight: normal;
    border-width: .1em 0 0;
    line-height: 1.4em;
    margin: 0;
    padding: 0.3em 1em 0.5em 0.4em;
    text-align: left;
}

.ui-igdialog-resizing {
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.ui-igdialog-dragging {
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.ui-igdialog-unmovable {
    cursor: default !important;
}

.ui-igdialog-header-focus {
}

.ui-draggable .ui-igdialog-header {
    cursor: move;
}

.ui-igdialog .ui-resizable-se {
    width: 1.4em;
    height: 1.4em;
    right: .3em;
    bottom: .3em;
}

.ui-igdialog-buttonpane {
    text-align: left;
    border-width: .1em 0 0 0;
    background-image: none;
    margin: 0.5em 0 0 0;
    padding: 0.3em 1em 0.5em 0.4em;
}

.ui-igdialog-buttonpane .ui-igdialog-buttonset {
    float: right;
}

.ui-igdialog-buttonpane button {
    margin: 0.5em 0.4em 0.5em 0;
    cursor: pointer;
}

.ui-dialog .ui-widget-content.ui-button {
    border-width: 1px;
}

/* Touch friendly */

.touch .ui-igdialog .ui-igdialog-header,
.touchevents .ui-igdialog .ui-igdialog-header,
.pointerevents .ui-igdialog .ui-igdialog-header {
    line-height: 1.6em;
}

.touch .ui-dialog .ui-dialog-titlebar,
.touchevents .ui-dialog .ui-dialog-titlebar,
.pointerevents .ui-dialog .ui-dialog-titlebar {
    padding: 1em !important;
}

.ui-dialog-titlebar {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
}

.touch .ui-igdialog .ui-igdialog-headerbutton,
.touchevents .ui-igdialog .ui-igdialog-headerbutton,
.pointerevents .ui-igdialog .ui-igdialog-headerbutton {
    height: 30px;
    width: 44px;
    position: relative;
    top: 0.8em;
    margin: -15px 0 0 0.3em;
}

.touch .ui-igdialog .ui-igdialog-headerbutton .ui-icon,
.touchevents .ui-igdialog .ui-igdialog-headerbutton .ui-icon,
.pointerevents .ui-igdialog .ui-igdialog-headerbutton .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px;
}

.ui-dialog .ui-dialog-titlebar {
    display: flex !important;
    align-items: center;
    margin: -.1rem -.1rem 0 -.1rem;
    position: relative;
    padding: 1rem;
}

.ui-dialog-title {
    flex: 1;
}

.ui-dialog .ui-dialog-content {
    padding: 1rem;
    margin: 0 auto;
    width: 100% !important; /*Remove this line after we stop calc the the width wit JS*/
    box-sizing: border-box;
}

.ui-igdialog.ui-dialog .ui-dialog-buttonpane,
.ui-igdialog.ui-dialog .ui-dialog-titlebar {
    padding: 1rem;
}

.ui-dialog button.ui-button-icon-only {
    padding: 0;
}

.ui-dialog button {
    cursor: pointer;
    margin: 0 0 0 .5rem;
    padding: .4rem 1.5rem;
}

.ui-dialog .ui-dialog-buttonpane {
    margin-top: 0;
}