/* InputMessage
   ============
*/


/* Structure Overrides */
.ui-igspreadsheet  .ui-menu-item {
	padding-left: 30px;
}

.ui-igspreadsheet .ui-menu-item-wrapper {
	padding-left: 5px;
	padding-right: 0;
	white-space: nowrap;
}

.ui-igspreadsheet .ui-menu-divider {
	margin: 0;
	border-top: none;
}

.ui-igspreadsheet .ui-menu-item-wrapper.ui-state-active {
	border:none;
	background: transparent;
	color:inherit;
}

.ui-igspreadsheet .ui-menu .ui-state-active {
	margin: 0;
}

.ui-igspreadsheet .ui-menu-item:hover {
	cursor: pointer;
}

/* Structure Overrides END */


.ui-igspreadsheet-inputmessage-title
{
	font-weight: bold;
	padding-right: 22px;
}

.ui-igspreadsheet-inputmessage-content
{
	padding-left: 2px;
}

.ui-igspreadsheet-inputmessage
{
	border-width: 1px ;
	border-style: solid;
	max-height: 170px;
	max-width: 260px;
	padding: 4px 6px 4px 5px;
	overflow: hidden;
}

/* ToolTip
   =======
*/
.ui-igspreadsheet-tooltip
{
	border-width: 1px;
	border-style: solid;
}



/* Splitters
   =========
*/
.ui-igspreadsheet-rowsplitter,
.ui-igspreadsheet-columnsplitter,
.ui-igspreadsheet-splitterintersection
{
	border: none;
}

.ui-igspreadsheet-columnsplitter,
.ui-igspreadsheet-tabareasplitter,
.ui-igspreadsheet-nameboxsplitter
{
	cursor: nw-resize;
	cursor: url(data:application/cur;base64,AAACAAEAICAAAA8ADwAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAIAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB+AAAAWgAAAFoAAABaAAAAWgAABlpgAApaUAAT28gAIBgEACAYBAAT28gAClpQAAZaYAAAWgAAAFoAAABaAAAAWgAAAH4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA///////////////////////////////////////4H///+B////gf///4H///+B///5gZ//8YGP/+AAB//AAAP/wAAD/+AAB//xgY//+YGf//+B////gf///4H///+B////gf//////////////////////////////////////8=), col-resize;
}

.ui-igspreadsheet-columnsplitter
{
	width: 4px;
}

.ui-igspreadsheet-columnsplitter.ui-state-disabled
{
	opacity: 1;
	width: 1px;
	pointer-events: none;
}

.ui-igspreadsheet-rowsplitter
{
	height: 4px;
	cursor: sw-resize;
	cursor: url(data:application/cur;base64,AAACAAEAICAAAA8ADwAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAIAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABgAAAAkAAAAQgAAAIEAAADnAAAAJAAAACQAAB/n+AAQAAgAH//4AB//+AAQAAgAH+f4AAAkAAAAJAAAAOcAAACBAAAAQgAAACQAAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//////////////////////////////////5////8P///+B////AP///wD////D////w///4AAH/+AAB//gAAf/4AAH/+AAB//gAAf//8P////D////AP///wD///+B////w////+f/////////////////////////////////8=), row-resize;
}

.ui-igspreadsheet-rowsplitter.ui-state-disabled
{
	opacity: 1;
	height: 1px;
	pointer-events: none;
}

.ui-igspreadsheet-splitterintersection
{
	cursor: url(data:application/cur;base64,AAACAAEAICAAAA8ADwAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAIAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAJAAAAEIAAACBAAAA5wAAAyTAAAUkoAAJ55AAEAAIABAACAAJ55AABSSgAAMkwAAA5wAAAIEAAABCAAAAJAAAABgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA///////////////////////////////////////+f////D////gf///wD///8A///8wz//+MMf//AAD//gAAf/4AAH//AAD//4wx///MM///8A////AP///4H////D////5///////////////////////////////////////8=), move;
}

.ui-igspreadsheet-rowsplitterpreview, .ui-igspreadsheet-columnsplitterpreview
{
	background-color: #868686;
}


/* SelectAll
   =========
*/
.ui-igspreadsheet-selectall
{
	overflow: hidden;
	box-sizing: border-box;
	border-left: none;
	border-top: none;
	border-right: solid 4px transparent;
	border-bottom: solid 4px transparent;
}

.ui-igspreadsheet-selectall::before
{
	position: absolute;
	content: " ";
	right: 0;
	bottom: 0;
	border-bottom: 12px solid currentColor;
	border-left: 12px solid transparent;
}

/* TabArea Related
   ===============
*/
.ui-igspreadsheet-tabareasplitter,
.ui-igspreadsheet-nameboxsplitter
{
	background-color: transparent;
	border: none;
	width: 28px;
	min-height: 12px;
}

.ui-igspreadsheet-tabareasplitter::before,
.ui-igspreadsheet-nameboxsplitter::before
{
	content: " ";
	position: absolute;
	width: 2px;
	height: 2px;
	top: 50%;
	left: 50%;
	margin-top: -7px;
	margin-left: -3px;
	box-shadow: 2px 2px 0 currentColor,
	2px 6px 0 currentColor,
	2px 10px 0 currentColor;
}

.ui-igspreadsheet-tabareaborder
{
	/* this height needs to stay in sync with the active tab item and tabitemarea properties */
	height: 1px;
}

.ui-igspreadsheet-tabitemarea
{
	background-color: transparent;
	cursor: default; /* todo is this needed? */
}



/* TabItem */
.ui-igspreadsheet-tabitem
{
	display: inline-block;
	border-top: none;
	white-space: pre;
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 2px;
	/* this height needs to stay in sync with the height of the tabareaborder */
	margin-top: 1px;
}

.ui-igspreadsheet-tabitem.ui-state-hover,
.ui-igspreadsheet-tabitem-selected
{
	font-weight: bold;
}

.ui-igspreadsheet-tabitem-active,
.ui-igspreadsheet-tabitem-active.ui-state-hover
{
	/* remove the px added by the inactive tab item */
	margin-top: 0;
}

.ui-igspreadsheet-tabitemcontent
{
	padding: 2px 7px 3px 7px;
	margin: 2px 2px 1px 2px;
	text-align: center;
}

.ui-igspreadsheet-tabitem-active > .ui-igspreadsheet-tabitemcontent
{
	/* 1 more than normal tabitemcontent margin-top to account for
		-1px top margin on tab (really whatever we used for the height
		of tabareaborder + the top margin we put on the inactive
		tabitemcontent
	*/
	margin-top: 3px;
}

/* we don't want the text editor within the tab to define its own style or spacing */
.ui-igspreadsheet-tabitem input
{
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	font: inherit;
}

/* [PROTECTED START] protected add some space before the text and show a lock */
.ui-igspreadsheet-tabitem-protected > .ui-igspreadsheet-tabitemcontent {
	/* need space for the lock - add to the padding instead of using margin
		so the color of a tab is around this too */
	padding-left: 19px;
}

.ui-igspreadsheet-tabitem-protected > .ui-igspreadsheet-tabitemcontent > span::before {
	position:absolute;
	content:' ';
	margin: auto;
	top: 50%;
	margin-top: -7px;
	bottom: 3px;
	left: 0%;
	margin-left: 8px;
	width: 7px;
	height: 10px;
	background: transparent;
	border: 2px solid currentColor;
	border-radius: 3px;
	box-sizing: border-box;
}

.ui-igspreadsheet-tabitem-protected > .ui-igspreadsheet-tabitemcontent > span::after {
	position:absolute;
	content:' ';
	margin:auto;
	top: 50%;
	left: 0%;
	margin-left: 7px;
	width:9px;
	height:6px;
	margin-top: -2px;
	background-color:currentColor;
}
/* [PROTECTED END] */

/* [LIGHT|DARK TAB START] when a worksheet has a custom tab color the 'color' of the
	tab item is set to that custom color. in addition the tab item has either a dark or
	light class added that indicates whether its a dark or light color. this styling
	follows the windows excel approach where the tab color is used as a solid color
	when the tab is not selected so we need to know whether to use a light or dark
	foreground. when the tab is selected that color is used with a white overlay so
	we can use the same foreground used for normal selected/active tabs like ms does
*/
.ui-igspreadsheet-tabitem.ui-igspreadsheet-tabitem-dark > .ui-igspreadsheet-tabitemcontent,
.ui-igspreadsheet-tabitem.ui-igspreadsheet-tabitem-light > .ui-igspreadsheet-tabitemcontent
{
	background: currentColor;
}
.ui-igspreadsheet-tabitem-selected.ui-igspreadsheet-tabitem-dark > .ui-igspreadsheet-tabitemcontent,
.ui-igspreadsheet-tabitem-selected.ui-igspreadsheet-tabitem-light > .ui-igspreadsheet-tabitemcontent
{
	/* the white parts here are based on the fact that the background of a selected tab is white
		so this would need to be changed if one changes that
	*/
	background:
			linear-gradient(to bottom, white, rgba(255,255,255,.5)),
			currentColor;
}

/* [LIGHT|DARK TAB END] */



/* Tab Drop Indicator
   ==================
*/
.ui-igspreadsheet-tabDropIndicator::before
{
	position: absolute;
	content: ' ';
	width: 0;
	height: 0;
	left: -6px;
	top: -6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #fff;
}
.ui-igspreadsheet-tabDropIndicator::after
{
	position: absolute;
	content: ' ';
	width: 0;
	height: 0;
	top: -5px;
	left: -4px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #000;
}



/* Tab Area Buttons
   ================
*/
.ui-igspreadsheet-activateprevioushiddentab,
.ui-igspreadsheet-activatenexthiddentab
{
	background-color: transparent;
	border: none;
	width: 27px;
}

.ui-igspreadsheet-scrollfirsttab,
.ui-igspreadsheet-scrolllasttab,
.ui-igspreadsheet-scrollprevioustab,
.ui-igspreadsheet-scrollnexttab
{
	background-color: transparent;
	border: none;
	width: 28px;
}

.ui-igspreadsheet-activateprevioushiddentab.ui-state-disabled,
.ui-igspreadsheet-activatenexthiddentab.ui-state-disabled
{
	opacity: 0;
}

.ui-igspreadsheet-addnewworksheet.ui-state-disabled,
.ui-igspreadsheet-scrollfirsttab.ui-state-disabled,
.ui-igspreadsheet-scrolllasttab.ui-state-disabled,
.ui-igspreadsheet-scrollprevioustab.ui-state-disabled,
.ui-igspreadsheet-scrollnexttab.ui-state-disabled
{
	opacity: 1;
}

.ui-igspreadsheet-scrollfirsttab::before,
.ui-igspreadsheet-scrolllasttab::before,
.ui-igspreadsheet-scrollprevioustab::before,
.ui-igspreadsheet-scrollnexttab::before
{
	position: absolute;
	display: block;
	content: " ";
	width: 0;
	height: 0;
	left: 50%;
	top: 50%;
	margin-left: -4px;
	margin-top: -4px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}

.ui-igspreadsheet-scrollfirsttab::before,
.ui-igspreadsheet-scrollprevioustab::before
{
	border-right: 8px solid currentColor;
}

.ui-igspreadsheet-scrolllasttab::before,
.ui-igspreadsheet-scrollnexttab::before
{
	border-left: 8px solid currentColor;
}

.ui-igspreadsheet-scrollfirsttab::before
{
	box-shadow: -1px 0px currentColor;
}

.ui-igspreadsheet-scrolllasttab::before
{
	box-shadow: 1px 0px currentColor;
}

.ui-igspreadsheet-activateprevioushiddentab::before,
.ui-igspreadsheet-activatenexthiddentab::before
{
	content: " ";
	position: absolute;
	width: 2px;
	height: 2px;
	top: 50%;
	left: 50%;
	margin-top: -3px;
	margin-left: -7px;
	box-shadow: 2px 2px 0 currentColor,
	6px 2px 0 currentColor,
	10px 2px 0 currentColor;
}



/* Add New Worksheet */
.ui-igspreadsheet-addnewworksheet
{
	background-color: transparent;
	border: none;
	width: 28px;
}

.ui-igspreadsheet-addnewworksheet::before,
.ui-igspreadsheet-addnewworksheet::after
{
	content: " ";
	width: 16px;
	height: 16px;
	position: absolute;
	border-radius: 50%;
	border: 1px solid currentColor;
	background-color: currentColor;
	box-sizing: border-box;
	background-clip: content-box;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -8px;
}

.ui-igspreadsheet-addnewworksheet::before
{
	padding: 6px 3px 6px 3px;

}

.ui-igspreadsheet-addnewworksheet::after
{
	padding: 3px 6px 3px 6px;
}



/* ScrollBar related
   =================
*/
.ui-igspreadsheet-scrollbar-vertical
{
	min-width: 17px;
	margin-left: 2px;
	margin-right: 2px;
}

.ui-igspreadsheet-scrollbar-horizontal
{
	min-height: 17px;
	max-height: 17px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.ui-igspreadsheet-scrollbar-button-left,
.ui-igspreadsheet-scrollbar-button-right,
.ui-igspreadsheet-scrollbar-track-left,
.ui-igspreadsheet-scrollbar-track-right,
.ui-igspreadsheet-scrollbar-thumb-horizontal
{
	top: 0;
	bottom: 0;
}
.ui-igspreadsheet-scrollbar-button-up,
.ui-igspreadsheet-scrollbar-button-down,
.ui-igspreadsheet-scrollbar-track-up,
.ui-igspreadsheet-scrollbar-track-down,
.ui-igspreadsheet-scrollbar-thumb-vertical
{
	left: 0;
	right: 0;
}

.ui-igspreadsheet-scrollbar-button-left,
.ui-igspreadsheet-scrollbar-button-right,
.ui-igspreadsheet-scrollbar-button-up,
.ui-igspreadsheet-scrollbar-button-down
{
	box-sizing: border-box;
}

.ui-igspreadsheet-scrollbar-button-left:before,
.ui-igspreadsheet-scrollbar-button-right:before,
.ui-igspreadsheet-scrollbar-button-up:before,
.ui-igspreadsheet-scrollbar-button-down:before
{
	position: absolute;
	display: block;
	content: " ";
	width: 0;
	height: 0;
	left: 50%;
	top: 50%;
}

.ui-igspreadsheet-scrollbar-button-left:before,
.ui-igspreadsheet-scrollbar-button-right:before
{
	margin-left: -3px;
	margin-top: -4px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}

.ui-igspreadsheet-scrollbar-button-left:before
{
	border-right: 6px solid currentColor;
}

.ui-igspreadsheet-scrollbar-button-right:before
{
	border-left: 6px solid currentColor;
}

.ui-igspreadsheet-scrollbar-button-up:before,
.ui-igspreadsheet-scrollbar-button-down:before
{
	margin-left: -4px;
	margin-top: -3px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}

.ui-igspreadsheet-scrollbar-button-up:before
{
	border-bottom: 6px solid currentColor;
}

.ui-igspreadsheet-scrollbar-button-down:before
{
	border-top: 6px solid currentColor;
}

.ui-igspreadsheet-scrollbar-track-left,
.ui-igspreadsheet-scrollbar-track-right,
.ui-igspreadsheet-scrollbar-track-up,
.ui-igspreadsheet-scrollbar-track-down
{
	border: none;
}

.ui-igspreadsheet-scrollbar-thumb-vertical,
.ui-igspreadsheet-scrollbar-thumb-horizontal
{
	box-sizing: border-box;
}

.ui-igspreadsheet-scrollbar-button-left,
.ui-igspreadsheet-scrollbar-button-right
{
	width: 17px;
}

.ui-igspreadsheet-scrollbar-button-up,
.ui-igspreadsheet-scrollbar-button-down
{
	height: 17px;
}

/* Formula Bar
   ===========
*/
.ui-igspreadsheet-nameboxcontainer .ui-igcombo,
.ui-igspreadsheet-nameboxcontainer .ui-igcombo-field,
.ui-igspreadsheet-nameboxcontainer .ui-igcombo-textbox,
.ui-igspreadsheet-nameboxcontainer .ui-igcombo-dropdown
{
	font: inherit;
}

/* we don't want the combo's normal background or border */
.ui-igspreadsheet-nameboxcontainer .ui-igcombo
{
	background-color: transparent;
	border: none;
}
.ui-igspreadsheet-nameboxcontainer .ui-igcombo-button
{
	border: none;
}

.ui-igspreadsheet-nameboxcontainer .ui-igcombo-dropdown
{
	/* since the border comes from the container we need to shift the drop down down by 1 pixel*/
	margin-top: 1px;
}

.ui-igspreadsheet-formulabar
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	/* note we're not specifying bottom because the text area splitter will be there */
}
.ui-igspreadsheet-formulabartextareasplitter
{
	height: 10px;
	cursor: row-resize;
	background-color: transparent;
	border: none;
}

.ui-igspreadsheet-formulabarexpandbutton
{
	border: none;
	height: 20px;
	width: 20px;
}

.ui-igspreadsheet-formulabarexpandbutton::before
{
	content: " ";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6px;
	height: 6px;
	margin-left: -3px;
	margin-top: -4px;
	border: 2px solid currentColor;
	box-sizing: border-box;
	transform: rotate(45deg);
	border-width: 0 2px 2px 0;
}
.ui-igspreadsheet-formulabarexpandbutton-open
{
	transform: rotate(180deg);
}

.ui-igspreadsheet-nameboxcontainer,
.ui-igspreadsheet-formulabartextareacontainer,
.ui-igspreadsheet-formulabarbuttoncontainer
{
	box-sizing: border-box;
}
.ui-igspreadsheet-nameboxcontainer
{
	cursor: pointer;
}

.ui-igspreadsheet-formulabarbuttoncontainer
{
	margin-right: 3px;
}
.ui-igspreadsheet-formulabartextareacontainer textarea
{
	resize: none;
	border: none;
	padding-left: 11px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 0;
	outline: 0;
	margin: 0;
	font: inherit;
	box-sizing: border-box;
}

.ui-igspreadsheet-formulabarenterbutton,
.ui-igspreadsheet-formulabarcancelbutton
{
	background-color: transparent;
	border: none;
	width: 20px;
}
.ui-igspreadsheet-formulabarenterbutton.ui-state-disabled,
.ui-igspreadsheet-formulabarcancelbutton.ui-state-disabled
{
	opacity: 0.62;
}

.ui-igspreadsheet-formulabarenterbutton::before,
.ui-igspreadsheet-formulabarenterbutton::after,
.ui-igspreadsheet-formulabarcancelbutton::before,
.ui-igspreadsheet-formulabarcancelbutton::after
{
	content: " ";
	position: absolute;
	width: 2px;
	height: 10px;
	left: 50%;
	top: 50%;
	margin-left: -1px;
	margin-top: -5px;
	background-color: currentColor;
}
.ui-igspreadsheet-formulabarenterbutton::before
{
	transform: rotate(45deg);
}
.ui-igspreadsheet-formulabarenterbutton::after
{
	transform: rotate(-45deg);
	height: 5px;
	margin-top: 0;
	margin-left: -5px;
}
.ui-igspreadsheet-formulabarcancelbutton::before
{
	transform: rotate(45deg);
}
.ui-igspreadsheet-formulabarcancelbutton::after
{
	transform: rotate(-45deg);
}


/* border color inside spreadsheet */
.ui-igspreadsheet-automaticgridline
{
	background-color: rgb(212, 212, 212);
}