/*.ui-sparkline-10
{
    border-color: #562B79;
    background-color: #763AA7;     
}

.ui-sparkline-11
{
    border-color: #789818;
    background-color: #92B81F;   
}

.ui-sparkline-12
{
    border-color: #EE6C1E;
    background-color: #DA3C0E; 
}*/

.ui-chart-container
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}

.ui-chart-axis
{
    border-color: #989ea3;
    background-color: #989ea3;
}

.ui-chart-tooltip
{
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.6);
    box-shadow: 0 0 2px rgba(0,0,0,0.6);
    padding: 5px 8px;
    font-size: 12px;
    font-family:"Segoe UI", Arial, sans-serif;
}

.ui-chart-non-html5 {
    background-color: #FFFFFF;
    border: 1px solid #808080;
}
.ui-chart-non-html5-supported-message {
    color: #808080;
    text-align: center;
    display: block;
    font-size: 1em;
    width:99%;
    height:99%;
}

.ui-chart-non-html5-supported-message .ui-chart-current-browser-label  {
    color: #808080;
}

.ui-chart-non-html5-supported-message .ui-chart-non-html5-text {
    margin-top: 5px;
    margin-bottom: 5px;
}
.ui-chart-non-html5-supported-message .ui-chart-browsers-list {
    display: block;
    left: -200px;
    margin: auto 50%;
    padding: 0;
    position: relative;
    width: 400px;
}
.ui-chart-non-html5-supported-message .ui-chart-browsers-list li {
    float: left;
    list-style: none;
    display: block;
    width: 80px;
    font-size: 12px;
}
.ui-chart-non-html5-supported-message .ui-chart-browsers-list a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding-top: 80px;
    padding-bottom: 10px;
    background: transparent url(../images/igBrowserLogos.png) no-repeat -5px 10px;
    width: 64px;
    margin-left: 7px;
}

.ui-chart-non-html5-supported-message .ui-chart-browsers-list li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.ui-chart-non-html5-supported-message .ui-chart-browsers-list a.ui-chart-chrome-icon {
    background-position: -5px 10px;
}

.ui-chart-non-html5-supported-message .ui-chart-browsers-list a.ui-chart-firefox-icon {
    background-position: -79px 10px;
}

.ui-chart-non-html5-supported-message .ui-chart-browsers-list a.ui-chart-Opera-icon {
    background-position: -147px 10px;
}

.ui-chart-non-html5-supported-message .ui-chart-browsers-list a.ui-chart-safari-icon {
    background-position: -213px 10px;
}

.ui-chart-non-html5-supported-message .ui-chart-browsers-list a.ui-chart-ie-icon {
    background-position: -284px 10px;
}
