.ui-chart-container {
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 12px;
    border-width: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ui-chart-axis
{
    border-color: #d0d0d0;
    background-color: #d0d0d0;
}

.ui-chart-legend-items-list
{
    padding: 0;
    margin: 5px;
}

.ui-chart-legend-item-text
{
    vertical-align: middle;
}

.ui-chart-legend-item-badge
{
    vertical-align: middle;
}

.ui-chart-tooltip {
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.6);
    box-shadow: 0 0 2px rgba(0,0,0,0.6);
    padding: 5px 8px;
    font-size: 12px;
    font-family:"Segoe UI", Arial, sans-serif;
	background:#fff;
	color:#666;
}

.ui-chart-default-tooltip-content {
    white-space: nowrap;
}

.ui-chart-pointer-tooltip-content-container {
    margin: 3px;
}

.ui-chart-pointer-tooltip {
    background-color: white;
    border-color: rgb(77,77,77);
    border-radius: 4px;
    border-width: 1px;
}

.ui-chart-toolbar {
    position: absolute;
    width: 100%;
    text-align:center;
}

.ui-chart-toolbar ul 
{
}
.ui-chart-toolbar li 
{
    list-style: none;
    /*float: left;*/
    display: table-cell;
    vertical-align: middle;
}
.ui-chart-slider {
    width: 40px; 
    padding:5px 9px; 
}
.ui-chart-opd-button {
    position: absolute !important; top: 5px; right: 5px;
}

.ui-chart-toolbar
{  
}
.ui-chart-toolbar button
{
    height:18px;
    width:18px;
    margin:2px;
}
.ui-chart-toolbar button .ui-button-text
{
    line-height:8px;
}

/* Touch Support */
.igTouch .ui-chart-opd-button,
.igTouch .ui-chart-toolbar
{
    font-size:20px;
}
.igTouch .ui-chart-toolbar
{
    display:table;
   background-color: rgba(79, 79, 79, 0.40);
}
.igTouch .ui-chart-toolbar ul
{
    display:table-row;
}
.igTouch .ui-chart-toolbar li
{
    display:table-cell;
}

.igTouch .ui-chart-toolbar .ui-chart-slider-holder
{
    width:100%;
}
.igTouch .ui-chart-toolbar button
{
    width:44px;
    height:44px;
    margin:5px;
}
.igTouch .ui-chart-toolbar button .ui-button-text
{
    line-height:35px;
}
.igTouch .ui-chart-slider
{
 width:90%;    
 padding: 0 30px;
}
.igTouch .ui-chart-toolbar .ui-slider-handle
{
    width:30px;
    height:30px;
}

.ui-chart-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #666;
    margin: 5px 0px 5px 0px;
}  

.ui-chart-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
    margin: 0px 0px 5px 0px;
}

.ui-chart-horizontal-axis-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
    margin: 0px 0px 5px 0px;
}

.ui-chart-vertical-axis-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
    margin: 0px 0px 0px 5px;
}

.ui-horizontal-axis-labels {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    vertical-align: top;
    margin: 5px 0px 5px 0px;
    color: #777;
}

.ui-vertical-axis-labels {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: right;
    margin: 0px 5px 0px 5px;
    color: #777;
}

.ui-angular-axis-labels {
    margin: 5px;
    color: #777;
}

.ui-radial-axis-labels {
    vertical-align: top;
    margin: 5px 0px 5px 0px;
    color: #777;
}



.ui-chart-category-axis-tick {
    height: 5px;
    color: #d0d0d0;
}
.ui-chart-area-fill-opacity {
    opacity: 0.7;
}

.ui-chart-aligned-gridlines {
    visibility: visible;
}

.ui-chart-axis-stroke, .ui-chart-axis-major-line {
    /* transparent is treated as auto */
    border-color: transparent;
}

.ui-chart-legend
{
    overflow: auto;
}   